@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('/fonts/SofiaProMedium.woff2') format('woff2'),
       url('/fonts/SofiaProMedium.woff') format('woff');
}
@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('/fonts/SofiaProLight.woff2') format('woff2'),
       url('/fonts/SofiaProLight.woff') format('woff');
}
@layer utilities {
  .pre-next {
    @apply px-[15px] text-base text-black capitalize;
  }
}
@layer utilities {
  .custominput {
    @apply w-full border border-[#d6d6d6] text-black  py-[11px] pl-[23px] text-[14px] font-sofia;
  }
}
@layer utilities {
  .seredina {
    @apply flex justify-center items-center;
  }
}


@import "remixicon/fonts/remixicon.css";
