@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('/fonts/SofiaProMedium.woff2') format('woff2'),
       url('/fonts/SofiaProMedium.woff') format('woff');
}
@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('/fonts/SofiaProRegular.woff2') format('woff2'),
       url('/fonts/SofiaProRegular.woff') format('woff');
}

@import "remixicon/fonts/remixicon.css";
