@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('/fonts/SofiaProMedium.woff2') format('woff2'),
       url('/fonts/SofiaProMedium.woff') format('woff');
}
@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('/fonts/SofiaProLight.woff2') format('woff2'),
       url('/fonts/SofiaProLight.woff') format('woff');
}
@layer utilities {
  .pre-next {
    @apply px-[15px] text-base text-black capitalize;
  }
}
@layer utilities {
  .custominput {
    @apply w-full border border-[#d6d6d6] text-black  py-[11px] pl-[23px] text-[14px] font-sofia;
  }
}
@layer utilities {
  .seredina {
    @apply flex justify-center items-center;
  }
}
@layer utilities {
.chertocka {
  @apply relative font-sofia capitalize text-[18px] pb-[10px] mb-[20px] before:content-[''] before:absolute before:h-[1px] before:w-[55px] before:bg-coffee before:bottom-0
}
}
@layer utilities {
  .img {
    @apply w-full h-full object-cover;
  }
}
@layer utilities {
  .justext {
    @apply text-base text-old py-[4px] font-sofia;
  }
}
@layer utilities {

.boxtitle{
  @apply text-[18px] font-sofia relative pb-[18px] mb-[22px] after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:-translate-x-1/2 after:w-[42px] after:h-px after:border-b after:border-black;
}}
@layer utilities {
  .contextbox {
    @apply mb-[30px] border border-[#eaeaea] p-[25px_15px]  transition-[border] duration-[250ms] ease-linear delay-[250ms]  text-center hover:border-black;
  }
}
@import "remixicon/fonts/remixicon.css";
