.footerclmn::after{
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    margin-top: 20px;
    background-color: #000;
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .footerclmn {
        position: relative;
        &::after {
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
    }
}}