.slash::after{
    content: "";
    display: inline-block;
    width: 32px;
    height: 1px;
    background-color: #cbcbcb;
    transform: rotate(315deg) translateY(-5px);
    margin-left: 10px;
}
.leftborder::after{
    content: "";
    height: 100%;
    width: 4px;
    background: #b8784e;
    position: absolute;
    left: 0;
    top: 0;
}